html {
	font-size: 16px;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

input[type=range] {
	border-radius: 4px;
	width: 300px;
	height: 8px;
	font-size: 16px;
	background-color: #000;
	overflow: hidden;
	appearance: none;
}

input[type=range]::-webkit-slider-thumb {
	margin-bottom: 14px;
	border-radius: 10px;
	width: 8px;
	height: 8px;
	background-color: #fff;
	cursor: pointer;
	box-shadow: -300px 0 0 300px green;
	-webkit-appearance: none;
}

fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

/* root */
:root {
	--margin: 15px;
	--color-black: black;
	--color-active: #fd6a02;
}

/* glob */
.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	/* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.fz-hack {
	font-size: 0;
}

.list-reset {
	margin: 0;
	padding: 0;
	list-style: none;
}

.btn-reset {
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.btn {
	display: inline;
	margin: 0px 0px;
	padding: 8px 16px;
	border: 1px solid rgb(33, 126, 74);
	border-radius: 4px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #fff;
	background-color: rgb(43, 153, 91);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

.indent-left {
	padding-left: 50px;
}

.container {
	margin: 0 auto;
	padding-inline: var(--margin);
	max-width: calc(1890px + var(--margin) * 2);
	width: 100%;
}

.container_fluid {
	padding: 0;
	max-width: 100%;
}

.hide {
	display: none;
}

/* body */
.body {
	margin: 0;
}

/* header */
.header {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.contacts {
	display: flex;
	flex-direction: column;
	margin-left: auto;
	font-size: 28px;
	color: var(--color-active);
	line-height: 1.2;
}

.header-nav__list {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}

.header-nav__item {
	border-inline: 1px solid var(--color-active);
	background: var(--color-black);
	text-align: center;
}

.header-nav__item:not(:first-child) {
	margin-left: -1px;
}

.header-nav__link {
	display: inline-block;
	width: 100%;
	font-family: Arial;
	color: #fff;
	line-height: 50px;
}

#active-link {
	background: var(--color-active);
}

/* main */

/* breadcrumbs */
.breadcrumbs {
	padding-block: 20px;
}

.breadcrumbs__nav {
	padding-left: 30px;
}

.breadcrumbs-nav__item {
	display: inline;
	font-size: 16px;
}

.breadcrumbs-nav__item+.breadcrumbs-nav__item:before {
	content: "- ";
	color: var(--color-black);
}

.breadcrumbs-nav__link {
	color: var(--color-black);
	text-decoration: underline;
}

/* calculator */
.form {
	padding: 20px;
	background-color: #f7f5f3;
}

.form__heading {
	margin: 0;
	margin-bottom: 25px;
	font-size: 38px;
	color: #fd6a02;
}

.form__filedset>*:not(:last-child) {
	margin-bottom: 20px;
}

.form__label {
	display: flex;
	width: max-content;
}

.form__span {
	margin: 0;
	width: 180px;
	font-size: 16px;
	text-align: right;
}

.form__label>.form__span:first-child {
	margin-right: 20px;
}

.form__label>.form__span {
	align-self: flex-start;
}

.form__input {
	width: 140px;
	cursor: pointer;
}

.form__select {
	width: 140px;
	cursor: pointer;
}

.form__radio {
	margin: 0;
	margin-right: 5px;
	cursor: pointer;
}

.form__group {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	width: max-content;
}

.form__group_center {
	align-items: center;
} 

.form__group>*:not(:last-child) {
	margin-right: 20px;
}

.form__range {
	display: inline-block;
	font-size: 16px;
}

.form__range-list {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

#result.success {
	font-size: 14px;
	color: darkgreen;
}

#result.error {
	font-size: 14px;
	color: darkred;
}

#result-score {
	font-size: 16px;
}

/* footer */
.footer {
	position: fixed;
	bottom: 0;
	padding: 30px;
	width: 100%;
	color: #fff;
	background-color: #000;
}

.footer-nav__list {
	display: flex;
	flex-direction: row;
	width: max-content;
}

.footer-nav__item:not(:last-child) {
	margin-right: 15px;
}

.footer-nav__link {
	color: #fff;
	line-height: 40px;
}
